  <table class="table">
    <thead class="thead-inverse">
  <tr>
    <th>title</th>
    <th>description</th>
    <th>answer</th>
    <th>action</th>
  </tr>
</thead>
<tbody>
  {{#each questions}}
<form class="col-md-8" method="post" action="/questionnaire/{{questionnaire_id}}/answer/{{questionnaire_metric_id}}">
  <tr>
            <td>{{title}}</td><br>
            <td>{{description}}</td>
            <td><input type="number" class="form-control" name="value" value="{{value}}"/></td>
            <td><input type="submit" class="btn btn-primary" value="Submit" /></td>
</tr>
</form>
{{/each}}
  </tbody>
  </table>
