<div class="alert alert-success alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <p>Successfully updated.</p>
   </div>

  <table class="table table-striped">
    <thead class="thead-inverse">
  <tr>
    <th>title</th>
    <th>description</th>
    <th>answer</th>
    <th>action</th>
  </tr>
</thead>
<tbody>
  {{#each questions}}
<form class="col-md-8" method="post" action="/questionnaire/{{questionnaire_id}}/answer/{{questionnaire_metric_id}}">
  <tr>
            <td>{{title}}</td><br>
            <td>{{description}}</td>
            <td><input type="number" class="form-control" name="value" value="{{value}}"/></td>
            <td><input type="submit" id="button" class="btn btn-primary" value="Save" /></td>
</tr>
</form>
{{/each}}
  </tbody>
  </table>
  <button class="btn btn-success" onclick="goBack()">back</button>
  <form action="/questionnaire/submit/answered/{{questionnaire_id}}" method="post">
  <input type="submit" class="btn btn-primary pull-right" value="Release" />
 </form>
