<div id="setupQuestionStep2">
    <div class="container">
        <h1>Setup Questionnaire - Step 2</h1>
        <form action="/setup-questionnaire-step-2/addMetricToMetricTable" method="POST">
            <h4>Add Question:</h4>
            <textarea name="title" row="3" cols="50" placeholder="Enter question here" required></textarea>
            <h4>Add Question description: </h4>
            <textarea name="description" row="3" cols="50" placeholder="Enter description of question" required></textarea>
            {{#each questionnaire}}
                <input type="hidden" name="id" value="{{id}}">
            {{/each}}
            <input type="submit" value="Create Question">
        </form>

        <!-- TODO: http://www.jquerywithexample.com/2012/11/get-selected-checkbox-using-jquery.html -->
        <form method="post" action="/questionnaire/setup/step2/{{questionnaire_id}}">
            <h3>Select Questions to add to Questionnaire:</h3>
            <table>
                <tr>
                    <th>Question</th>
                    <th>Description</th>
                    <th>Select</th>
                </tr>
                {{#each metrics}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td><input type="checkbox" class="metricSelected" name="selectedMetrics" value="{{id}}"/></td>
                </tr>
                {{/each}}
            </table>
            <input type="submit" value="Add Questions to Questionnaire" />
        </form>
    </div>
</div>
