<div id="setupQuestionStep2">
    <div class="container">
        <h1>Setup Questionnaire - Step 2</h1>
        <form action="/setup-questionnaire-step-2/addMetricToMetricTable" method="POST">
            <h4>Add Question:</h4>
            <textarea name="title" row="3" cols="50" placeholder="Enter question here" required></textarea>
            <h4>Add Question description: </h4>
            <textarea name="description" row="3" cols="50" placeholder="Enter description here(description of question)" required></textarea>
            {{#each questionnaire}}
                <input type="hidden" name="id" value="{{id}}">
            {{/each}}
            <input type="submit" value="Create Question">
        </form>

        <form action="/setup-questionnaire-step-3/send" method="POST">
            <h3>Select Questions to add to Questionnaire:</h3>
            <table>
                <tr>
                    <th>Question</th>
                    <th>Description</th>
                    <th>Select</th>
                </tr>
                {{#each metric}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td><input type="checkbox" class="metricSelected" name="selectedMetrics" value="{{id}}"/></td>
                </tr>
                {{/each}}
            </table>
            <label for="entity_id">Select entity to send questionnaire</label>
            <select name="entity_id">
              {{#each entity}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>

            <input type="submit" value="send">
          </form>
    </div>
</div>
