<div class="container">
<form action="/setup-questionnaire/add" method="POST">
           <h1 class="setup_questionnaire_header">Setup Questionnaire</h1>
           <input type="text" name="questionnaire_name">
           <input type="date" name="due_date">
           <select name="entity_id">
     				{{#each entity}}
       					<option value = "{{entity_id}}">{{entity_name}}</option>
     				{{/each}}
   			</select>
           <input type="submit">
</form>


    <table>
    {{#each questionnaire}}
        <tr>
          <td>{{description}}</td>
          <td>{{questionnaire_name}}</td>
            <td>{{due_date}}</td>
                <td><a href="/setup-questionnaire/edit/{{questionnaire_id}}">edit</a></td>
                <td><a href="/setup-questionnaire/delete/{{questionnaire_id}}">delete</a></td>
        </tr>
    {{/each}}
    <p>

    </p>

</div>
