<div>
    <div class="tab-content">
        {{#if messages.success}}
            <p class='alert alert-success alert-dismissable fade in'>{{messages.success}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{/if}}
        {{#if messages.alert}}
            <p class='alert alert-danger alert-dismissable fade in'>{{messages.alert}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{/if}}

        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            {{#each requests}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{email}}</td>
                    <td>{{name}}</td>
                    <td>
                        <a href="/users/request/accept/{{id}}">
                            <button class="btn btn-success">Accept</button>
                        </a>
                        <a href="/users/request/reject/{{id}}">
                            <button class="btn btn-primary">Reject</button>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
