
  {{#if questionnaire.parent_questionnaire_id}}
  <form method="post" action="/questionnaire/questions/view/{{questionnaire_id}}">
  {{else}}
  <form method="post" action="/questionnaire/allocate/down/{{questionnaire_id}}">
  {{/if}}

    <h3>Select Questions to add to Questionnaire:</h3>
    <table class="table">
  <thead class="thead-inverse">
        <tr>
            <th>Question</th>
            <th>Description</th>
            <th>Select</th>
        </tr>
      </thead>

        {{#each questions}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td><input type="checkbox" class="metricSelected" name="selectedMetrics" value="{{id}}"/></td>
        </tr>
        {{/each}}
    </table><br>
  Select entity:  <select name='entity_id'>
      {{#each entities}}
      <option type='text' name="entity_id" value='{{id}}'>{{name}}</option>
      {{/each}}
    </select>
    <input type="submit" class="btn btn-primary" value="Create new Questionnaire" />
</form>
